.dashboard-top{
    width: 100%;
    display: flex;
}

.navbar-mobile svg, .username, .dashboard-notification{
    display: none;
}
/* .dashboard-notification svg{
    font-size: 20px;
} */
.dashboard-body{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.dashboard-left{
    padding: 20px;
    /* background-color: aqua; */
    width: 40%;
}
.dashboard-right{
    padding: 20px;
    width: 55%;
    /* height: 100%; */
    background:white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}
.kyc-status{
    width: 100%;
    background-color: #F3F3F3;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
}
.kyc-status-left{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
}
.kyc{
    color: rgba(0, 0, 0, 0.58);
}
.kyc-body{
    color: #000000;
}
.kyc-status-right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: rgba(245, 101, 110, 0.19);
    border-radius: 10px;
}
.kyc-status-right svg{
    font-size: 25px;
    color: #D86A78;
}
.bank-card{
    margin-top: 30px;
}
.my-account{
    margin-top: 20px;
}
.my-account-header{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #1B232D;
}
.account-type{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
}
.naira-account,.dollar-account{
    background: #FFFFFF;
    /* box-shadow: 0px 6.89131px 17.2283px rgba(177, 177, 177, 0.0784314); */
    border-radius: 22px;
    width: 180px;
    height: 280px;
    padding: 10px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(162, 162, 162, 0.74);
    -moz-box-shadow: 0px 0px 10px 0px rgba(162, 162, 162, 0.74);
    box-shadow: 0px 0px 10px 0px rgba(162, 162, 162, 0.74);
}
.account-progressbar{
    width: 60%;    
}
.account{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #1B232D;
}
.account-amount{
    margin-top: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #8C9495;
}
.account-button{
    margin-top: 30px;
    width: 100px;
    height: 40px;
    border: none;
    background: #B11226;
    border-radius: 19.2957px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15.1609px;
    text-align: center;
    color: #FFFFFF;
}
.my-saving,.single-transaction{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.single-transaction{
    margin-top: 30px;
}
.saving-left, .transaction-history-left{
    display: flex;
    align-items: center;
}
.saving-icon, .transaction-icon{
    width: 60px;
    height: 60px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
}
.saving-icon svg{
    font-size: 30px;
}
.saving-text{
    margin-left: 15px;
}
.saving-header{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #1B232D;
}
.amount-saved{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #85898F;
}
.saving-right svg{
    font-size: 30px;
}
.transaction-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.transaction{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}
.transaction-right{
    display: flex;

}
.categories, .date{
    display: flex;
    padding: 15px;
    background: rgba(255, 255, 255, 0.63);
    border-radius: 8px;
}
.date{
    margin-left: 20px;
}
.categories p, .date p{
    margin-left: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}
.transaction-icon img{
    width: 60px;
    height: 60px;
}
.transaction-history-text{
    margin-left: 20px;
}
.transaction-history-name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #000000;
}
.transaction-amount{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}
.transaction-date{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}
/* @media (Max-width: 1700px) {
    .account-type{
        padding-left: 40px;
        padding-right: 40px;
    }
    .naira-account,.dollar-account{
        width: 180px;
        height: 300px;
        padding: 10px;
    }
    .account{
        font-size: 16px;
    }
    .account-amount{
        font-size: 12px;
    }
} */
@media (Max-width: 1440px) {
    .account-type{
        padding-left: 0px;
        padding-right: 0px;
    }
    .naira-account,.dollar-account{
        width: 150px;
        height: 250px;
        padding: 10px;
    }
    .account{
        font-size: 14px;
    }
    .account-amount{
        font-size: 10px;
    }
}
@media (Max-width: 1250px) {
    .account-type{
        padding-left: 0px;
        padding-right: 0px;
    }
    .naira-account,.dollar-account{
        width: 130px;
        height: 250px;
        padding: 10px;
    }
}
@media (Max-width: 1000px){
    .dashboard-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;

    }
    .dashboard-notification{
        display: block;
    }
    .navbar-mobile svg{
        display: block;
        font-size: 25px;
    }
    .username{
        display: block;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #000000;
    }
    .dashboard-body{
        display: block;
    }
    .dashboard-left{
        width: 100%;
    }
    .dashboard-right{
        display: none;
    }
    .account-type{
        padding-left: 90px;
        padding-right: 90px;
    }
    .naira-account,.dollar-account{
        width: 200px;
        height: 300px;
        padding: 10px;
    }
}
@media (Max-width: 700px){
    .account-type{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (Max-width: 550px){
    .account-type{
        padding-left: 0px;
        padding-right: 0px;
    }
    .naira-account,.dollar-account{
        width: 180px;
        height: 280px;
        padding: 10px;
    }
}
@media (Max-width: 440px){
    .account-type{
        padding-left: 0px;
        padding-right: 0px;
    }
    .naira-account,.dollar-account{
        width: 140px;
        height: 280px;
        padding: 10px;
    }
}