/* .empty{
    display: block;
} */
.empty svg{
    display: none;
}
.account-top{
    width: 100%;

}
.account-top p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: #000000;
}
.nairaaccount-body{
    margin-top: 50px;
}
.naira-balance{
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    color: #151515;
}
.balance-title{
    font-size: 20px;
}
.balance-amount{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 500;
}
.nairaaccount-action{
    width: 100%;
    margin-top: 40px;
}
.account-action-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #1B232D;
}
.account-action-inner{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 20px;
}
.action{
    display: flex;
    align-items: center;
    justify-content: center;
}
.actionicon{
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f1f1;
    border-radius: 8px;
}
.actionicon svg{
    font-size: 20px;
}
.action-details{
    width: 100%;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    color: #1B232D;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #EFEFF0;
}
.detail-title{
    font-size: 18px;
}
.detail-word{
    margin-top: 5px;
    font-size: 12px;
}
.transfer-action{
    margin-top: 80px;
}
@media (max-width: 1000px) {
    .empty svg{
        display: block;
        font-size: 20px;
    }  
    .account-top p{
        font-size: 25px;
    }
    .account-action-inner, .payment-action{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
    }
    .action{
        margin-top: 30px;
    }
}
@media (max-width: 700px){
    .account-action-inner, .payment-action{
        display: block;
        /* grid-template-columns: 1fr ;
        row-gap: 50px; */
    }
    .account-top p{
        font-size: 20px;
    }
    .detail-title{
        font-size: 16px;
    }
    .detail-word{
        font-size: 12px;
    }
}