@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
}
.app-container{
  padding-top: 80px;
  display: flex;
}
/* .body{
  display: flex;
} */
.body-inner{
  width: 100%;
  margin-left: 280px;
  padding: 50px;
}

@media (Max-width: 1000px){
  .body-inner{
    margin-left: 0px;
    padding: 10px;
  }
}